.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  max-height: 50vh;

}

.App-header {
  background-color: #aafcb8;
  color: black;
}

nav {
  width: 100%;
}

li {
  list-style-type: none;
}

.navbar-links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  padding: 0;
  border-bottom: 2px solid black;
}

.navbar-links li {
  background-color: white;
  color: black;
}

li:hover {
  background-color: #aafcb8;
  cursor: pointer;
  color: black;
}