@font-face {
  font-family: 'Monoton';
  src: url(./fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
  font-family: 'Syncopate';
  src: url(./fonts/Syncopate/Syncopate-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/Open_Sans/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #35323A;
  color: white;
}

.App-logo {
  height: 25vmin;
  margin: 0 auto 2rem;
}

.App-header {
  background: linear-gradient(0deg, #AAFCB8 0%, #35323A 100%);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1 {
  font-family: 'Monoton';
  font-weight: 300;
}
main h1 {
  align-self: flex-start;
  padding: 0 0 0 10%;
}

button:focus {
  outline: none;
}

nav {
  text-align: center;
}
#navbar {
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
  position: relative;
  top: -1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #D7FFF1;
}
.nav-li {
  border: 1px solid black;
  padding: .5rem;
  color: black;
  font-family: 'Syncopate',sans-serif;
  font-weight: 500;
}

li:hover {
  background-color: #AAFCB8;
}

.activeNavLink {
  background-color: #AAFCB8;
}

a, a:visited {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Open Sans';
  align-self: center;
  transition: all ease-in 250ms;
}

a:hover {
  color: #D7FFF1;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
  padding: .1rem 10%;
  align-content: center;
  background-color: #AAFCB8;
  color: black;
}

footer a {
  color: black;
}

main {
  text-align: center;
  min-height: 50vh;
}

.menu-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.menu-item:first-child {
  align-self: start;
}

.menu-item:nth-child(2) {
  align-self: start;
}

.menu-item {
  width: 300px;
  padding: .5rem;
}

.ordered-item {
  border-bottom: 2px solid #35323A;
}

@media screen and (min-width: 600px) {
  #navbar {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    background-color: white;
    width: 80%;
  }

  .ordered-item {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    border: none;
  }
}

.form-area {
  display: flex;
  flex-flow: column wrap;
}

select {
  padding: .5rem 0;
  background-color: #D7FFF1;
  font-family: 'Syncopate';
  text-align: center;
}

option {
  background-color: #35323A;
  color: white;
}

#intro-info-bar {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

#intro-info-bar h1 {
  margin: 0;
}

.order-slip {
  background-color: white;
  color: black;
  margin: 0 10%;
  padding: .5rem 10%;
  min-height: 25vh;
  text-align: left;
}

.main-img {
  width: 300px;
}

#form-pic {
  height: 300px;
}

input[textarea] {
  height: 4rem;
}

.menu-item {
  margin-bottom: .75rem;
}

.inventory-forms {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-self: flex-start;
}

#inventory-btns-container {
  display: flex;
  flex-flow: column wrap;
  margin: 0 1rem;
}

.inventory-btn {
  margin-bottom: .75rem;
}

label {
  font-family: 'Syncopate';
  margin: 1rem 0;
}

input, textarea {
  padding: .5rem;
  font-family: 'Open Sans';
  transition: border .25s;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid #AAFCB8;
}

form {
  margin: 0 1rem;
}

#reset-stock-btn {
  padding: .5rem;
  border-color: #AAFCB8;
  color: white;
  background: linear-gradient(180deg, #474545 0%, #870058 100%);
  cursor: pointer;
  font-family: 'Syncopate';
}

#reset-stock-btn:hover {
  background: linear-gradient(180deg, #474545 0%, #870058 50%);
}

ol li:hover {
  background-color: transparent;
}

#order-conclusion {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem 0;
}

#order-conclusion p {
  margin: 0 2rem;
}

.order-item-price, .order-slip button {
  text-align: center;
}

.ordered-item button {
  cursor: pointer;
  border: 1px solid red;
  color: red;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
}

.ordered-item button:hover {
  background-color: red;
  color: black;
}

.ordered-item div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-area input, textarea {
  width: 100%;
}

.item-inventory-form {
  background-color: #474545;
  border: 2px solid #AAFCB8;
  padding: 1.5rem;
}