//loading in the fonts
@font-face {
    font-family: 'Monoton';
    src: url(./fonts/Monoton/Monoton-Regular.ttf);
  }
  
@font-face {
    font-family: 'Syncopate';
    src: url(./fonts/Syncopate/Syncopate-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/Open_Sans/OpenSans-Regular.ttf);
}

//general styling
html {
    font-size: 100%;
    @media screen and (min-width: 90rem) {
        font-size: 115%;        
    }
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #35323A;
    color: white;
}

.App-logo {
    height: 25vmin;
    margin: 0 auto 2rem;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

button {
    padding: .5rem;
    cursor: pointer;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Open Sans';
    align-self: center;
    transition: all ease-in 250ms;
    &:hover {
        color: #D7FFF1;
    }
}

h1,h2,h3,h4,h5,h6,p {
    margin: .5rem;
    padding: 0;
}
  

$brandGreen: #AAFCB8;
$brandBlue: #D7FFF1;
$brandCharcoal: #35323A;

//the starting container of the page, holding the the logo and site-title
header {
    background: linear-gradient(0deg, $brandGreen 0%, #35323A 100%);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    a {
        @media screen and (max-width: 599px) {
            display: none;
        }
    }
    #intro-info-bar {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
    }
    h1 {
        font-family: 'Monoton';
        font-weight: 300;
        margin: 0
    }
}

//the navbar
nav {
    position: sticky;
    top: 1rem;
    .activeNavLink {
        background-color: $brandGreen;
    }
    ul {
        display: grid;
        grid-template: auto / 1fr 1fr 1fr;
        background-color: white;
        width: 100%;
        list-style: none;
        margin: auto;
        padding: 0;
        text-align: center;
        position: relative;
        top: -1rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #D7FFF1;
        li {
            border: 1px solid black;
            padding: .5rem;
            color: black;
            font-family: 'Syncopate',sans-serif;
            font-weight: 500;
            &:hover {
                background-color: $brandGreen;
            }
        }
    }
    @media screen and (min-width: 600px) {
        ul {
          width: 80%;
        }
    }
}

//the semantic container for the 3 main pages (menu, order, and inventory)
main {
    text-align: center;
    min-height: 50vh;
    padding: 0 5%;
    h2 {
        margin-bottom: 1rem;
    }
}

//div containing all the menu items
.menu-catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
  
//each individual menu-item div
.menu-item {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    width: 90%;
    max-width: 300px;
    padding: .5rem;
    margin: 0 .5rem 4rem;
    button {
        background-color: $brandBlue;
        color: black;
        font-size: 1rem;
        border: 2px solid grey;
        &:hover {
            background-color: $brandGreen;            
        }
        &:active {
            border-color: black;
        }
    }
    input {
        width: auto;
        margin: 1rem;
        font-size: 1rem;
    }
    img {
        width: 100%;
    }
    @media screen and (min-width: 90rem) {
        max-width: 400px;
        img {
            max-width: 400px;
        }        
    }
}

.menu-item:first-child, .menu-item:nth-child(2) {
    align-self: start;
}

//div containing all of the order information
.order-slip {
    background-color: white;
    color: black;
    margin: 0 10%;
    padding: .5rem 10%;
    min-height: 25vh;
    text-align: left;
    #order-conclusion {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 1rem 0;
        p {
            margin: 0 2rem;
        }
    }
}

//each individual ordered-item's details div
.ordered-item {
    margin-bottom: 2rem;
    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    button {
        cursor: pointer;
        border: 1px solid red;
        color: red;
        text-align: center;
        &:hover {
            background-color: red;
            color: white;
        }
    }
    @media screen and (min-width: 600px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        div {
            width: 66%;
        }
    }
}

//the div showing total order cost and the confirm-order btn
#order-conclusion {
    border-top: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    p {
        margin: 0 2rem;
    }
    button {
        border: 2px solid $brandCharcoal;
        &:hover {
            background-color: $brandGreen;
            color: black;
        }
    }
}

.order-item-price, .order-slip button {
  text-align: center;
}

//div containing all the inventory page content
.inventory-forms {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-self: flex-start;
}

form {
    background-color: #474545;
    border: 2px solid #AAFCB8;
    padding: 1.5rem;
    margin: 0 1rem;
    img {
        width: 90%;
        @media screen and (min-width: 600px) {
            width: auto;
            height: 18.75rem;
        }
    }
    label {
        font-family: 'Syncopate';
        margin: 1rem 0;
    }
    input, textarea {
        width: 100%;
        padding: .5rem;
        margin-bottom: 1rem;
        font-family: 'Open Sans';
        transition: border .25s;
        :focus {
            border-bottom: 2px solid #AAFCB8;
        }
    }

    textarea {
        height: 5rem;
    }
}

//the actual form (everything below the img)
.form-area {
    display: flex;
    flex-flow: column wrap;
}

//the div holding the restock button and the item <select>
#inventory-btns-container {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem;
    * {
        margin: 1rem;
    }
}

.inventory-btn {
    margin-bottom: .75rem;
}

#reset-stock-btn {
    padding: .5rem;
    border-color: black;
    color: white;
    background: linear-gradient(180deg, #474545 0%, #870058 100%);
    &:hover {
        background: linear-gradient(180deg, #474545 0%, #870058 50%);
    }
}

select {
    padding: .5rem 0;
    background-color: #D7FFF1;
    text-align: center;
}
  
option {
    background-color: #35323A;
    color: white;
}

//end of page
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    padding: .1rem 10%;
    align-content: center;
    background-color: $brandGreen;
    color: black;
    a {
        color: black;
    }
}